#reviews {
    .review-text {
        font-size: 12px;
    }

    .review-title {
        font-weight: 600;
    }

    .review-user {
        color: grey;
        font-size: 12px;
        font-weight: 300;
    }
}
